@import url(https://fonts.googleapis.com/css?family=Kreon:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500);
::selection {
  background: #fff;
  color: #000; }

::-moz-selection {
  background: #fff;
  color: #fdb415; }

html {
  height: 100%;
  font-size: 16px; }

body {
  background: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-size: 1em; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Kreon', serif;
  font-weight: 700; }

h3 {
  font-size: 2em;
  color: #fff; }

h4 {
  font-size: 1.3em;
  color: #fdb415; }

.container {
  width: 90%;
  margin: 0 auto; }

.main-nav {
  width: 590px;
  margin: 0 auto;
  margin-top: 170px; }
  .main-nav a {
    color: #fff;
    font-family: 'Kreon', serif;
    font-weight: 700;
    font-size: 1.5em;
    text-decoration: none; }
    .main-nav a:hover {
      color: #000; }

.hex-row {
  clear: left; }

.hex {
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  background: url("../img/hexagon.png") no-repeat center;
  width: 230px;
  height: 200px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .hex:hover {
    background: url("../img/hexagon-hover.png") no-repeat center;
    height: 200px;
    width: 230px; }

.hex-mid {
  background: url("../img/logo.png") no-repeat center;
  width: 230px;
  height: 200px;
  float: left;
  margin-left: -50px;
  margin-top: 105px; }

.hex-blog {
  margin-left: -50px; }

.hex-hive {
  margin-top: -95px; }

.hex-contact {
  margin-left: 130px;
  margin-top: -95px; }

.logotxt {
  background: url("../img/logo-text.png") no-repeat center;
  width: 170px;
  height: 76px;
  float: left;
  margin-right: -170px;
  margin-left: -20px;
  margin-top: 20px;
  position: relative;
  z-index: 99; }

.hex-listen:hover span {
  color: #fff !important; }

header {
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 2px;
  background: #000;
  border-bottom: 2px solid #fdb415; }
  header nav {
    float: right;
    margin-top: 20px; }
    header nav li {
      display: inline;
      margin-right: 30px; }
    header nav a {
      font-family: 'Ubuntu', Helvetica, sans-serif;
      font-weight: 500;
      font-size: 1.1em;
      color: #fff;
      text-decoration: none; }
      header nav a:hover {
        color: #fdb415; }

#logo {
  float: left; }
  #logo img {
    height: 50px; }
